<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
                      http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">
    <welcome-file-list>
        <welcome-file>main</welcome-file>
    </welcome-file-list>
    <servlet>
        <servlet-name>IndexJSPPage</servlet-name>
        <jsp-file>/index.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>IndexJSPPage</servlet-name>
        <url-pattern>/main</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>SportsJSPPage</servlet-name>
        <jsp-file>/Sports.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>SportsJSPPage</servlet-name>
        <url-pattern>/sports</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>PoliticsJSPPAge</servlet-name>
        <jsp-file>/Politics.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>PoliticsJSPPAge</servlet-name>
        <url-pattern>/politics</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>EntertainmentJSP</servlet-name>
        <jsp-file>/Entertainment.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>EntertainmentJSP</servlet-name>
        <url-pattern>/entertainment</url-pattern>
    </servlet-mapping>
</web-app>